<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Production Control System</title>
</head>
<body>
<h1>Production Control System</h1>
<div>
    <p>Hello, this is production control system demo</p>
</div>
<div>
    <h2><a href="docs#/default">Proceed to the Docs</a></h2>
</div>
<div>
    <a href="https://github.com/ShadeSWD/production-control-system" target="_blank">
        <img alt="GitHub"
             src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"/>
    </a>
    <a href="mailto:seawolfy@gmail.com"><img
            alt="Gmail"
            src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"/></a>
    <a href="https://t.me/ShadeSWD"><img
            alt="Telegram"
            src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"></a>
        <a href="https://wa.me/79214405905"><img
            alt="WhatsApp"
            src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white"></a>
</div>
</body>
</html>
